body {
  font-size: 30
}
a:link, a:visited {
  background-color: white;
  font-size: 18px;
  text-align: center; 
}

a:hover, a:active 
{background-color: yellow;
  font-size: 18px;
  text-align: center;
}
.button {
  color:white;
  text-align:center;
  background-color:blue;
}
