body {
  font-size: 30
}
button:link, button:visited {
  background-color: white;
  font-size: 30px;
  text-align: center; 
}

button:hover, button:active 
{background-color: yellow;
  font-size: 30px;
  text-align: center;
}
.button {
  color:white;
  text-align:center;
  background-color:green;
  font-size:30px;
}
